
.border5{
  padding:1em;
  margin:1em 1em;
  background-color: #FFFFFF;
}

.kolom {
  float: left;
  width: 23.3%;
  margin: 0.25rem;
  background-color: grey;
  
  p{
    font-size: 14px;
    text-align: center;
    color: white;
  }
}


.h6{
  font-weight:bold;
}
.header-kasir{
  text-align: center;
  width:6.25em;
}

.card-container {
  max-width: 120px;
  min-height: 120px;
  margin: 1rem 0.3rem;
  
  .card-image {
    width: 100%;
    background-color: coral;
  }

  .card-alacarte{
    min-height: 50px;
    width:100%;
    font-size: 14px;
    color:white; 
    font-weight:bold;
    text-align: center;
    padding:4%;
    background-color: firebrick;
  }
  .card-combo{
    min-height: 50px;
    width:100%;
    font-size: 14px;
    color:white; 
    font-weight:bold;
    text-align: center;
    padding:4%;
    background-color: rgb(178, 99, 34);
  }
  .card-snack{
    min-height: 50px;
    width:100%;
    font-size: 14px;
    color:white; 
    font-weight:bold;
    text-align: center;
    padding:4%;
    background-color: rgb(68, 178, 34);
  }
  .card-drink{
    min-height: 50px;
    width:100%;
    font-size: 14px;
    color:white; 
    font-weight:bold;
    text-align: center;
    padding:4%;
    background-color: rgb(34, 144, 178);
  }
  .card-dessert{
    min-height: 50px;
    width:100%;
    font-size: 14px;
    color:white; 
    font-weight:bold;
    text-align: center;
    padding:4%;
    background-color: rgb(154, 34, 178);
  }
}

.content {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100px;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

.content:hover {
	opacity : 0.8;
	cursor : pointer;
}

/* Clearfix (clear floats) */
.baris::after {
  content: "";
  clear: both;
  display: table;
}

.topping_dropdown {
  padding: 0.4rem;
  width: 180px;
}

.btn-order {
  min-width:2em;
  min-height:2em;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.btn-kasir {
  padding:0.5em 1em;
  margin: 0 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.btn-nav {
  padding: 0.5em;
  margin: 0.5em;
  width: 10em;
  font-weight: bold;
  background-color: #98E6FF;
}
.btn-var {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 10em;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 175 , 0);
}
.btn-pedas {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 10em;
  color: white;
  font-weight: bold;
  background-color: rgb(175, 0  , 0);
}
.btn-topping {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 10em;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 208, 0);
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}
.dropdown-account{
  width: 100%;

  p{
    font-size: 16px;
    
    @media screen and (max-width:768px){
      font-size: 12px;
    }
  }
}

.my-scrollbar{
  position: relative;
  height: 10em;
  overflow: auto
}

.table-wrapper-scroll-y {
  display: block;
}