.border5 {
  padding: 1em;
  margin: 1em 1em;
  background-color: #FFFFFF;
}

.kolom {
  float: left;
  width: 23.3%;
  margin: 0.25rem;
  background-color: grey;
}

.kolom p {
  font-size: 14px;
  text-align: center;
  color: white;
}

.card-container {
  max-width: 120px;
  min-height: 120px;
  margin: 1rem 0;
}

.card-container .card-image {
  width: 95%;
  background-color: coral;
}

.card-container .card-alacarte {
  min-height: 50px;
  width: 95%;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4%;
  background-color: firebrick;
}

.card-container .card-combo {
  min-height: 50px;
  width: 95%;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4%;
  background-color: #b26322;
}

.card-container .card-snack {
  min-height: 50px;
  width: 95%;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4%;
  background-color: #44b222;
}

.card-container .card-drink {
  min-height: 50px;
  width: 95%;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4%;
  background-color: #2290b2;
}

.card-container .card-dessert {
  min-height: 50px;
  width: 95%;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4%;
  background-color: #9a22b2;
}

.content {
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100px;
  height: 30px;
  font-size: 12px;
  text-align: center;
}

.content:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Clearfix (clear floats) */
.baris::after {
  content: "";
  clear: both;
  display: table;
}

.topping_dropdown {
  padding: 0.4rem;
  width: 180px;
}

.btn-nav {
  padding: 0.5em;
  width: 9em;
  font-weight: bold;
  margin: 0 0.6em 0 0;
  background-color: #98E6FF;
}

.btn-var {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 150px;
  color: white;
  font-weight: bold;
  background-color: #00af00;
}

.btn-pedas {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 150px;
  color: white;
  font-weight: bold;
  background-color: #af0000;
}

.btn-topping {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 150px;
  font-weight: bold;
  color: white;
  background-color: #ffd000;
}

.checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin: 0;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.dropdown-account {
  width: 100%;
}

.dropdown-account p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .dropdown-account p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */