.kolom {
  float: left;
  width: 23.3%;
  margin: 0.25rem;
  background-color: grey;
}

p{
  font-size: 14px;
  text-align: center;
  color: white;
}

/* Clearfix (clear floats) */
.baris::after {
  content: "";
  clear: both;
  display: table;
}
